# <font color="purple"><h3 align="center">DataFrame Basics Tutorial</h3></font>

## **Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet**

In [1]:
import pandas as pd

In [2]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Sunny', 'Sunny']
}

In [3]:
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [4]:
df.shape # rows, columns = df.shape

(6, 4)

In [5]:
newdf = df[2:5]
newdf

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny

In [6]:
newdf = df.iloc[2:5, :-1]
newdf

        day  temperature  windspeed
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4

In [11]:
# not going to work : newdf = df.loc[2:5, :-2]

## <font color='blue'>Rows</font>

In [12]:
df.head() # df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny

In [13]:
df.tail(3) # df.tail(2)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [14]:
df.index[df.day ==  "1/4/2017"]

Int64Index([3], dtype='int64')

In [15]:
index = df.index[df.day ==  "1/4/2017"][0]
print(index)

3

In [9]:
startindex = int(df.index[df.day ==  "1/4/2017"][0])
type(startindex)

int

In [10]:
df[ startindex : startindex + 3 ]

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

## <font color='blue'>Columns</font>

In [12]:
print(df.columns)
columnNames = df.columns.to_list()
print(columnNames)

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')
['day', 'temperature', 'windspeed', 'event']

In [13]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4    Sunny
5    Sunny
Name: event, dtype: object

In [14]:
eventlist = df.event.to_list()
eventlist

['Rain', 'Sunny', 'Snow', 'Snow', 'Sunny', 'Sunny']

In [16]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [7]:
twodf = df[ ['day','event']  ]
twodf

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017  Sunny
5  1/6/2017  Sunny

## <font color='blue'>Operations On DataFrame</font>

In [8]:
print(df.temperature.mean())
print(df['temperature'].std())

30.333333333333332
3.8297084310253524

In [9]:
len(df[ df['temperature'] > 30 ])

4

In [10]:
df['day'] [ df['temperature'] == df['temperature'].min() ] # Kinda doing SQL in pandas

3    1/4/2017
Name: day, dtype: object

In [8]:
# Error 
df['day'] [  df['temperature'].min() ] # Kinda doing SQL in pandas

KeyError: 24

In [20]:
df['day'][df['temperature'] == df['temperature'].min()] # Kinda doing SQL in pandas

3    1/4/2017
Name: day, dtype: object

In [11]:
data = df.temperature.sort_values()
data

3    24
2    28
5    31
0    32
4    32
1    35
Name: temperature, dtype: int64

In [12]:
data = df.temperature.sort_values(ascending = False)
data

1    35
0    32
4    32
5    31
2    28
3    24
Name: temperature, dtype: int64

In [21]:
df['temperature'].mean() # Kinda doing SQL in pandas

30.333333333333332

In [15]:
df['temperature'][3:6].mean() # Kinda doing SQL in pandas

29.0

In [22]:
df['temperature'].std()

3.8297084310253524

In [13]:
df['event'].max() # But mean() won't work since data type is string

'Sunny'

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

In [25]:
# get max occuring element

In [14]:
df.event.value_counts()

Sunny    3
Snow     2
Rain     1
Name: event, dtype: int64

In [16]:
df.event.value_counts().max()

3

In [17]:
df.event.value_counts().idxmax()

'Sunny'

In [27]:
df.event.value_counts().index[0]

'Sunny'

In [15]:
df.event.value_counts()[0]

3

In [29]:
print("Max Event : " + df.event.value_counts().index[0] + " and it occured " + str( df.event.value_counts()[0]) + " times" )

Max Event : Sunny and it occured 3 times

In [22]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

**Google pandas series operations to find out list of all operations**
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

## <font color='blue'>set_index</font>

In [18]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [19]:
df.set_index("day", inplace=True)

In [20]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4  Sunny
1/6/2017           31          2  Sunny

In [21]:
df.shape

(6, 3)

In [22]:
df.loc["1/1/2017" : "1/4/2017"]

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow

In [32]:
df.shape

(6, 3)

In [23]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [24]:
df.shape

(6, 4)

In [25]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [26]:
df.set_index("day")

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4  Sunny
1/6/2017           31          2  Sunny

In [27]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [28]:
df.set_index("day", inplace= True)

In [29]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4  Sunny
1/6/2017           31          2  Sunny

In [44]:
df

          index  temperature  windspeed  event
day
1/1/2017      0           32          6   Rain
1/2/2017      1           35          7  Sunny
1/3/2017      2           28          2   Snow
1/4/2017      3           24          7   Snow
1/5/2017      4           32          4  Sunny
1/6/2017      5           31          2  Sunny

In [30]:
df.reset_index(inplace=True)

In [31]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [43]:
df.drop("index", axis = 1 , inplace= True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [32]:
newdf = df.copy()
newdf.set_index("day" , inplace=True)

In [33]:
newdf

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4  Sunny
1/6/2017           31          2  Sunny

In [34]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [47]:
newdf

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4  Sunny
1/6/2017           31          2  Sunny

In [35]:
newdf.reset_index(inplace=True)

In [36]:
newdf.set_index("event", inplace=True)
newdf

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Sunny  1/5/2017           32          4
Sunny  1/6/2017           31          2

In [37]:
newdf.loc["Sunny"]

            day  temperature  windspeed
event
Sunny  1/2/2017           35          7
Sunny  1/5/2017           32          4
Sunny  1/6/2017           31          2

In [38]:
newdf.loc["Snow"]

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

In [39]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [40]:
import numpy as np 

df["NewData"] = np.arange(1,7) # [ 1,2,3,4,5,6]
df

        day  temperature  windspeed  event  NewData
0  1/1/2017           32          6   Rain        1
1  1/2/2017           35          7  Sunny        2
2  1/3/2017           28          2   Snow        3
3  1/4/2017           24          7   Snow        4
4  1/5/2017           32          4  Sunny        5
5  1/6/2017           31          2  Sunny        6

In [41]:
mylist = []
for i in df.temperature:
    if i == 32:
        mylist.append(True)
    else:
        mylist.append(False)
df["Check"] = mylist

In [42]:
df

        day  temperature  windspeed  event  NewData  Check
0  1/1/2017           32          6   Rain        1   True
1  1/2/2017           35          7  Sunny        2  False
2  1/3/2017           28          2   Snow        3  False
3  1/4/2017           24          7   Snow        4  False
4  1/5/2017           32          4  Sunny        5   True
5  1/6/2017           31          2  Sunny        6  False

In [43]:
import numpy as np 
df["Names"] = np.array(["Ahmed", "Ali", "Omar" , "Emad" , "Anas" , "Amr" ])
df

        day  temperature  windspeed  event  NewData  Check  Names
0  1/1/2017           32          6   Rain        1   True  Ahmed
1  1/2/2017           35          7  Sunny        2  False    Ali
2  1/3/2017           28          2   Snow        3  False   Omar
3  1/4/2017           24          7   Snow        4  False   Emad
4  1/5/2017           32          4  Sunny        5   True   Anas
5  1/6/2017           31          2  Sunny        6  False    Amr

In [44]:
df.reset_index(inplace=True)
df.drop("event", inplace=True, axis= 1)
df

   index       day  temperature  windspeed  NewData  Check  Names
0      0  1/1/2017           32          6        1   True  Ahmed
1      1  1/2/2017           35          7        2  False    Ali
2      2  1/3/2017           28          2        3  False   Omar
3      3  1/4/2017           24          7        4  False   Emad
4      4  1/5/2017           32          4        5   True   Anas
5      5  1/6/2017           31          2        6  False    Amr

In [45]:
df.drop("index", inplace=True, axis = 1)

In [46]:
df

        day  temperature  windspeed  NewData  Check  Names
0  1/1/2017           32          6        1   True  Ahmed
1  1/2/2017           35          7        2  False    Ali
2  1/3/2017           28          2        3  False   Omar
3  1/4/2017           24          7        4  False   Emad
4  1/5/2017           32          4        5   True   Anas
5  1/6/2017           31          2        6  False    Amr

In [47]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [48]:
#df.reset_index(inplace=True)
df.set_index("temperature", inplace=True)

In [49]:
df

                  day  windspeed  NewData  Check  Names
temperature
32           1/1/2017          6        1   True  Ahmed
35           1/2/2017          7        2  False    Ali
28           1/3/2017          2        3  False   Omar
24           1/4/2017          7        4  False   Emad
32           1/5/2017          4        5   True   Anas
31           1/6/2017          2        6  False    Amr

In [50]:
df.loc[32]

                  day  windspeed  NewData  Check  Names
temperature
32           1/1/2017          6        1   True  Ahmed
32           1/5/2017          4        5   True   Anas

In [62]:
df.head()

                  day  windspeed  Names
temperature
32           1/1/2017          6  Ahmed
35           1/2/2017          7    Ali
28           1/3/2017          2   Omar
24           1/4/2017          7   Emad
32           1/5/2017          4   Anas

In [51]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Sunny', 'Sunny']
}
df = pd.DataFrame(weather_data)
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Sunny  1/5/2017           32          4
Sunny  1/6/2017           31          2

In [52]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Sunny  1/5/2017           32          4
Sunny  1/6/2017           31          2

In [53]:
df.to_string()

'            day  temperature  windspeed\nevent                                  \nRain   1/1/2017           32          6\nSunny  1/2/2017           35          7\nSnow   1/3/2017           28          2\nSnow   1/4/2017           24          7\nSunny  1/5/2017           32          4\nSunny  1/6/2017           31          2'

In [57]:
columns = []
data = dict()

num = int(input("please enter the number of columns: "))
while(num > 0):
    columns.append(input("please enter the column name: "))
    num -=1

for i in columns:
    data[i] = []

rows = int(input("please enter the number of rows: "))
while(rows > 0):
    for i in data:
        value = input(f"please enter the value of {i}: ")
        data[i].append(value)

    rows-=1
dataframe = pd.DataFrame(data)
dataframe

please enter the number of columns: 3
please enter the column name: name
please enter the column name: age
please enter the column name: salary
please enter the number of rows: 3
please enter the value of name: Zyad
please enter the value of age: 23
please enter the value of salary: 1400
please enter the value of name: Aya
please enter the value of age: 22
please enter the value of salary: 3499
please enter the value of name: Ahmed
please enter the value of age: 80
please enter the value of salary: 345676453467586857463

    name age                 salary
0   Zyad  23                   1400
1    Aya  22                   3499
2  Ahmed  80  345676453467586857463

In [61]:
# make it a function
def create_custom_df(colnum , rownum):
    columns = []
    data = dict()

    num = colnum
    while(num > 0):
        columns.append(input("please enter the column name: "))
        num -=1

    for i in columns:
        data[i] = []

    rows = rownum
    while(rows > 0):
        for i in data:
            value = input(f"please enter the value of {i}: ")
            data[i].append(value)

        rows-=1
    dataframe = pd.DataFrame(data)
    return dataframe

In [63]:
create_custom_df(2, 3)

please enter the column name: name
please enter the column name: id
please enter the value of name: ahmed
please enter the value of id: 1
please enter the value of name: ali
please enter the value of id: 2
please enter the value of name: essam
please enter the value of id: 3

    name id
0  ahmed  1
1    ali  2
2  essam  3

In [62]:
dataframe["name"].dtype

dtype('O')

In [63]:
dataframe.age.dtype

dtype('O')

In [46]:
dataframe.age.astype(np.int8)

0    18
1    21
2    80
Name: age, dtype: int8

In [47]:
dataframe.Age = dataframe.age.astype(np.int16)
dataframe.Age.dtype

/var/folders/_r/3sb29fjj12d916yfxyrhd_gc0000gn/T/ipykernel_2931/2819945309.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dataframe.Age = dataframe.age.astype(np.int16)

dtype('int16')