In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
titanic = pd.read_csv('C:/Users/DELL/Desktop/catigorical column/train.csv')

In [3]:
print("البيانات الأصلية:")
print(titanic.head())

البيانات الأصلية:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
titanic = titanic[['Sex', 'Embarked', 'Age' ]]

In [5]:
titanic['Age'].fillna(titanic['Age'].mean(), inplace=True)
titanic['Embarked'].fillna('Unknown', inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_376\1210003512.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['Age'].fillna(titanic['Age'].mean(), inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_376\1210003512.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['Embarked'].fillna('Unknown', inplace=True)

In [6]:
label_encoder = LabelEncoder()

In [7]:
titanic['Sex_encoded'] = label_encoder.fit_transform(titanic['Sex'])

In [8]:
titanic['Embarked_encoded'] = label_encoder.fit_transform(titanic['Embarked'])

In [9]:
titanic = titanic.drop(columns=['Sex', 'Embarked'])

In [11]:
print("\nا(Preprocessing):")
print(titanic.head())

ا(Preprocessing):
    Age  Sex_encoded  Embarked_encoded
0  22.0            1                 2
1  38.0            0                 0
2  26.0            0                 2
3  35.0            0                 2
4  35.0            1                 2

In [12]:
titanic.to_csv('titanic_label_encoded.csv', index=False)
print("\n'titanic_label_encoded.csv'")

'titanic_label_encoded.csv'