In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
data = pd.read_csv("C:/Users/DELL/Desktop/Normalization/train.csv")

In [4]:
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:
"Name", "Ticket", "Cabin"
data_cleaned = data.drop(columns=["Name", "Ticket", "Cabin"])

In [7]:
data_cleaned["Sex"] = data_cleaned["Sex"].map({"male": 0, "female": 1})
data_cleaned["Embarked"] = data_cleaned["Embarked"].map({"C": 0, "Q": 1, "S": 2})

In [8]:
data_cleaned["Age"].fillna(data_cleaned["Age"].mean(), inplace=True)
data_cleaned["Embarked"].fillna(data_cleaned["Embarked"].mode()[0], inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_45712\1772646135.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_cleaned["Age"].fillna(data_cleaned["Age"].mean(), inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_45712\1772646135.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_cleaned["Embarked"].fillna(data_cleaned["Embarked"].mode()[0], inplace=True)

In [9]:
# *Min-Max Normalization*
min_max_scaler = MinMaxScaler()
data_min_max_normalized = min_max_scaler.fit_transform(data_cleaned)

In [10]:
data_min_max_normalized = pd.DataFrame(data_min_max_normalized, columns=data_cleaned.columns)

In [11]:

print("\nData after Min-Max Normalization:")
print(data_min_max_normalized.head())

Data after Min-Max Normalization:
   PassengerId  Survived  Pclass  Sex       Age  SibSp  Parch      Fare  \
0     0.000000       0.0     1.0  0.0  0.271174  0.125    0.0  0.014151
1     0.001124       1.0     0.0  1.0  0.472229  0.125    0.0  0.139136
2     0.002247       1.0     1.0  1.0  0.321438  0.000    0.0  0.015469
3     0.003371       1.0     0.0  1.0  0.434531  0.125    0.0  0.103644
4     0.004494       0.0     1.0  0.0  0.434531  0.000    0.0  0.015713

   Embarked
0       1.0
1       0.0
2       1.0
3       1.0
4       1.0

In [12]:
# *Z-Score Normalization (Standardization)*
standard_scaler = StandardScaler()
data_standardized = standard_scaler.fit_transform(data_cleaned)

In [13]:
data_standardized = pd.DataFrame(data_standardized, columns=data_cleaned.columns)

In [14]:
print("\nData after Z-Score Normalization:")
print(data_standardized.head())

Data after Z-Score Normalization:
   PassengerId  Survived    Pclass       Sex       Age     SibSp     Parch  \
0    -1.730108 -0.789272  0.827377 -0.737695 -0.592481  0.432793 -0.473674
1    -1.726220  1.266990 -1.566107  1.355574  0.638789  0.432793 -0.473674
2    -1.722332  1.266990  0.827377  1.355574 -0.284663 -0.474545 -0.473674
3    -1.718444  1.266990 -1.566107  1.355574  0.407926  0.432793 -0.473674
4    -1.714556 -0.789272  0.827377 -0.737695  0.407926 -0.474545 -0.473674

       Fare  Embarked
0 -0.502445  0.585954
1  0.786845 -1.942303
2 -0.488854  0.585954
3  0.420730  0.585954
4 -0.486337  0.585954